@model UserVM
@{ ViewData["Title"] = "ChangeRole"; }

<div class="row">
    <div class="col-md-12 d-flex align-items-stretch">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@Model.Fullname</h4>
                        <p>
                            @Model.Email
                        </p>
                        <p>
                            @Model.Username
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <a asp-action="Index" class="btn btn-dark">Go back</a>
    <form method="post">
        @foreach (string item in Model.Roles)
        {
            if (item == Model.Role)
            {
                   <input type="radio" name="Role" checked value="@item" />@item 
            }
            else
            {
                   <input type="radio" name="Role" value="@item" />@item}
            }

        <button type="submit" class="btn btn-primary ml-2">Change Role</button>
    </form>
</div>

